
@model IEnumerable<PizzaShopOnline.BAU.Site.ViewModels.HomePageViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-4">Online Pizza Delivery</h2>
    <div class="row">
        @foreach (var item in Model)
        {

        <div class="col">
            <div class="card" style="width: 18rem;">
                <p></p>

                <a href="@Url.Action("SelectedPizza", "Home", new { Id = item.PizzaId })">
                    <img src="@item.ImageUrl" alt="Pizza Pic" /> 
                    </a>
                  
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(model => item.Name)   </h5>
                      
                          <br />
                    </div>
            </div>
        </div>
        }
      
      
    </div>
   
 
</div>



