
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>

<!-- <style>
    .container{
        height: 100vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .success{
        background-color:green;
        color: white;
    }

</style> --> 

<body>
    <div class="container success">
        <h3>Your Pizza is on the way ....  </h3>
    </div>
</body>
</html>
